body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.link:hover {
  text-decoration: none;
  color: #737373;
}

.link {
  color: black;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.input-button {
  height: 36px;
}

.output {
  overflow: auto;
  border: #ced4da solid 1px;
  width: 302px;
  height: 300px;
}

.link {
  margin: 10px;
}

.container {
  display: flex;
}

.horizontal-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.display-inline {
  display: inline;
}

.float-right {
  float: right;
}

.list-todo {
  font-family: monospace;
  margin: 5px;
  background: #f6f6f6;
}
